[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
bs4 = "*"
requests = "*"
ebooklib = "*"
bitarray = {version = ">1.1.0", sys_platform = " != 'win32'"}
bitarray_win = {path = "C:/Users/garadford/Downloads/bitarray-1.6.0-cp37-cp37m-win_amd64.whl", sys_platform = "== 'win32'"}
pdfreader = "*"

[requires]
python_version = "3.7"
